<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="Quoine_API_Key" value="X1iVN5i7xMEMp2gyJQ68G10LGQh/zLXDZt8K0H6lxnuZ6xsACZ3oAiq5QgepPnfBa080WacAqLjSQ+slu/+s/A=="></add>
      <add key="Quoine_API_UserId" value="59"></add>
    </appSettings>
</configuration>